<!-- serves as default layout as called in app.js by app.engine -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- tells IE to use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- set the page width to the size of the device and set the zoom level to 1 -->

  <meta name="viewport" content="width = device-width, initial-scale= 1">
  <title>Content Management System</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <!-- will render content based on how the routes are defined -->
  {{{body}}}
  <br>

</body>
</html>