<!-- this page is the home or '/' page -->
<h1>Content Management System</h1>

<form action="" method="get">
  <input class="products" type="submit" formaction="/products" value="PRODUCTS">
  <input class="articles" type="submit" formaction="/articles" value="ARTICLES">
</form>