<h2>List of Products</h2>

<ul>
  {{#each products.list}}
    <p><li>
      Name: {{name}}, 
      <br>Price: {{price}}, 
      <br>Inventory: {{inventory}}</h4>
      <p><form action="" method="get">
        <input type="submit" formaction="/products/{{id}}" value="VIEW">
      </form>
    </li>
  {{/each}}
</ul>