<h2>Article</h2>
{{!-- No data has to be passed in because html will be rendered before variables are read in --}}
<h4>
  Title: {{articles.title}}<br> 
  Body: {{articles.body}}<br>
  Author: {{articles.author}}<br>
</h4>

<p>
<form action="/articles/{{articles.title}}/edit" method="get">
  <input type="submit" value="EDIT">
</form>