<h2>List of Articles</h2>

<ul>
  {{#each articles.list}}
    <li>
      <h4>Title: {{title}}, 
      <br>Body: {{body}}, 
      <br>Author: {{author}}</h4>
      <p><form action="" method="get">
        <input type="submit" formaction="/articles/{{title}}" value="VIEW">
      </form>
    </li>
  {{/each}}    
</ul>